* {
    margin: 0px auto;
    padding: 0px;
    list-style: none;
}

body {
    background: #173f5f;
    text-align: center;
    font-family: "Lucida Console", "Monaco", "monospace";
    height: auto;
    width: auto;
}

.login_box {
    border-radius: 15px;
    display: flex;
    margin-top: 5px;
    width: 30%;
    height: 100%;
    background: #f6d55c;
    padding: 10px;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.562), 0 600px 20px 0 rgba(0, 0, 0, 0.519);
    text-align: center;
}

.login_box label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login_box button {
    margin-top: 10px;
}

.login_box input {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: #dfe;
    border-radius: 5px;
    border: 1px solid #39c;
}

h2 {
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.leter {
    display: flex;
    margin-top: 20px;
    width: 30%;
    height: 100%;
    background-color: #f6d55c;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.562), 0 600px 20px 0 rgba(0, 0, 0, 0.519);
    border-radius: 15px;
}

.leter h1 {
    color: black;
    margin-top: 10px;
    ;
}

.img_logo {
    display: inline-flex;
    width: 20%;
    margin-top: 30px;
    margin-left: 0px;
}

#dash {
    width: 90%;
    height: 100%;
}

.mini {
    width: 1px;
    height: 1px;
    ;
}

.navbar li {
    text-align: center;
    margin-left: 60px !important;
    margin-right: 60px !important;
}